#future {
    position: absolute;
    left: 1.8em;

}
h1 {
    margin-bottom: 0%;
    background-color: blue;
}


var day = date.getDate();
console.log(day)  
date.setUTCDate(day + i).toLocaleString("en-US")  